html{
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: scroll;
}

body {
    background-color: lightslategrey;
    font-family: 'Montserrat' !important;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#page-content {
    flex: 1 0 auto;
}
  
#sticky-footer {
flex-shrink: none;
}

#pageDiv {
    padding: 2rem 1rem !important;
}

.container-full {
    margin: 0 auto;
    width: 95%;
}

#mainheader
{
    transition: all 0.3s linear;
}

#socialnav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    position: fixed;
    width: 60px;
    margin-top: 40vh;
    transition: all 0.3s linear;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4)
}

#socialnav  ul {
    padding: 0 !important;

    margin-top: 0;
    margin-bottom: 0
}

#socialnav  li {
    height: 45px;
    position: relative
}

#socialnav  li a {
    color: #fff !important;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 45px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition: all .3s linear;
    text-decoration: none !important
}

.notfound-card {
    width: 50% !important;
}

.frontpage-card {
    width: 50% !important;
    margin: auto;
    margin-top: 1vw;
    padding: 1vw;
    border: 3px solid;
    border-radius: 0% 0% 50% 50% !important;
}

.frontpage-card img {
    width: 100% !important;
    z-index: 100;
}

.card {
    box-shadow: 1px 1px 3px #333;
}

/* facebook color */
#facebookicon a {
    background: #4267B2
}

/* linkedin color */
#linkedinicon a {
    background: #0e76a8
}

/* github color */
#githubicon a {
    background: #333
}

/* whatsapp color */
#whatsappicon a {
    background: #25D366
}

/* email color */
#mailicon a {
    background: #b23121
}

#socialnav  li a i {
    position: absolute;
    top: 14px;
    left: 24px;
    font-size: 15px
}

#socialnav ul li a span {
    display: none;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase
}

#socialnav a:hover {
    z-index: 1;
    width: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3)
}

#socialnav ul li:hover a span {
    padding-left: 30%;
    display: block;
    font-size: 15px
}
